.rightintro {
    @include flexbox(end, center);
    padding: 15px 0;
  
    .rightintroimg {
      height: auto;
      width: 100%;
      overflow: hidden;
  
      img {
        width: 100%;
        height: auto;
        object-fit: cover; 
      }
    }
  }
  
  .leftintro {
    .lefttxt {
      margin-top: 50px; // Adjusted for mobile
      @include flexbox(center, start, column);
  
      h1 {
        color: $color-accent;
        font-family: $primary-font-family;
        font-size: 2.5rem; // Adjust for tablet
        font-weight: 700;
        line-height: 1.3em;
        max-width: 100%; // Make text width responsive
        span {
          color: $color-primary;
        }
      }
  
      p {
        max-width: 100%; // Make text width responsive
        margin-top: 15px;
        margin-bottom: 25px;
        color: $color-text;
        font-family: $text-font-family;
        font-size: 1rem;
        font-weight: $text-font-weight;
        line-height: $text-line-height;
      }
    }
  
    .buttons {
      .button {
        background-color: $color-primary;
        padding: 10px 20px;
        margin-bottom: 15px;
        text-align: center;
        border-radius: 5px;
        font-size: 1rem;
        transition: all 0.3s ease-in-out;
  
        &:hover {
          background-color: darken($color-primary, 10%);
        }
      }
  
      .second {
        background-color: transparent;
        border: 1px solid $secondary-color;
        color: $secondary-color;
        transition: all ease-in-out 0.3s;
  
        &:hover {
          background-color: $color-secondary;
          color: $color-5f782af;
        }
      }
    }
  }
  
  
  h2 {
    text-align: center;
    line-height: 1.3em;
    font-family: $primary-font-family;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: $color-accent;
    margin-top: 100px;
  }
  
  @media (max-width: 768px) {
    .leftintro {
      .lefttxt {
        h1 {
          font-size: 2rem; 
        }
  
        p {
          font-size: 0.95rem;
        }
      }
    }
  }
  
  @media (max-width: 576px) {
    .leftintro {
      .lefttxt {
        h1 {
          font-size: 1.8rem;
        }
  
        p {
          font-size: 0.9rem;
        }
      }
    }
  
    h2 {
      font-size: 16px;
    }
  }
  
  @media (max-width: 320px) {
    .leftintro {
      .lefttxt {
        margin-top: 30px;
  
        h1 {
          font-size: 1.5rem; 
        }
  
        p {
          font-size: 0.85rem;
        }
      }
    }
  
    h2 {
      font-size: 14px;
      margin-top: 30px;
    }
  }
  