#title{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    font-family: $primary-font-family;
    margin-bottom: 23px;
}
.modalinput{
    padding: 10px 24px;
    margin-bottom:20px;
    border: 2px solid $color-accent;
    line-height: 1.6em;
    min-height: 40px;
    font-size: 0.875rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    
   
    position: relative; 
    z-index: 1;

    font-family: $secondary-font-family;
  &::placeholder{
    font-weight: 300;
    color: #aeaeae;
  }
    &:focus {
        border-color: $color-primary;
        outline: none; 
      }

      &:active {
        border-color: $color-primary;
      }
}
.password{
    position: relative;
    input{
        width: 100%;
    }
    i{
        position: absolute;
        right: 10px;
       top: 15px;
       font-weight: 400;
       font-size: 1rem;
       cursor: pointer;
       color: #aeaeae;
       z-index: 2;
    }
}
.modaltxt{
    font-weight: 360;
    line-height: 1.6em;
    font-family: $secondary-font-family;
    font-size: 1rem;
    text-align: center;
 
    .underlinedtxt{
       cursor: pointer;
        color: $color-primary;
       transition: all 0.3s ease-in-out;
        &:hover{
            text-decoration: underline;
        }
    }
    
}
#modalparagraph{
    cursor: pointer;
}
.modal-backdrop {
    background-color: rgb(0, 0, 0) !important; 
    opacity: 0.8 !important;
}


