#news{
   
    .cardd{

        .cardimg{
            height: 219px;
        }
    }
}
#upcoming{
    .description{
        @include flexbox(start,center,row);
        margin-bottom: 40px;
        .text{
            color:$color-text;
            font-size: 1rem;
            font-family: $secondary-font-family;
        }
    }
  .cardd{
    .cardimg{
        height: 253.33px;
        .tag{
            cursor: default;
            background-color:$tag-color;
            font-family: $primary-font-family;
        }
    }
    .cardtxt{
        h2{
            max-width: 350px;
        }
    }
  
  }  
}