$color-primary: #356DF1;
$color-secondary: #082645;
$color-text: #444444;
$color-accent: #212427;
$color-5f782af: #FFFFFF;
$color-6b28c0b: #000000;
$color-ec35f56: #F5F7F8;
$tag-color:#00D084;
$primary-font-family: "Poppins";
$primary-font-size: 20px;
$primary-font-weight: 600;
$primary-line-height: 1.3em;
$secondary-font-family: "Inter";
$secondary-font-size: 18px;
$secondary-font-weight: 400;
$secondary-line-height: 1.6em;
$text-font-family: "Inter";
$text-font-size: 16px;
$text-font-weight: 400;
$text-line-height: 1.6em;
$accent-font-family: "Inter";
$accent-font-size: 14px;
$accent-font-weight: 600;
$accent-text-transform: capitalize;
$accent-line-height: 1.6em;
$a539aa8-font-family: "Poppins";
$a539aa8-font-size: 20px;
$a539aa8-font-weight: 600;
$a539aa8-text-transform: capitalize;
$a539aa8-line-height: 1.4em;
$f129df8-font-family: "Inter";
$f129df8-font-size: 18px;
$f129df8-font-weight: 700;
$f129df8-line-height: 1.6em;
$secondary-color: #082645;
$cardbackground-color: #0500D3;

